.landing {
  margin: 0 auto;
  width: 100%;
}

.landing__wraper {
  margin: 0 auto;
  max-width: 1180px;
  /* display: flex; */
  /* flex-direction: column; */
}

.text__container {
  margin: 0 auto;
  padding: 0;
  padding-top: 110px;
  padding-bottom: 110px;
  max-width: 1180px;
}

.section__title {
  margin: 0;
  padding-bottom: 23px;
  /* margin-top: 110px; */
  color: #000;
  max-width: 1180px;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: solid 1px #000;
}
