.form {
  margin: 0 auto;
  padding: 0;
  margin-top: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profile-title {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 123px;
  color: #000;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile-span {
  color: #000;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
}

.button-profile {
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  box-sizing: border-box;
  border: none;
  background-color: inherit;
  color: #000;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.button-profile:hover {
  font-weight: 500;
  text-decoration: underline;
}

.profile-logout {
  margin: 0 auto;
  padding: 0;
  margin-top: 15px;
  color: #EE3465;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  background-color: inherit;
  border: none;
}

.profile-logout:hover {
  font-weight: 600;
  text-decoration: underline;
}

.save-button{
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  box-sizing: border-box;
  width: 396px;
  height: 45px;
  border: none;
  border-radius: 3px;
  background-color: #FF6838;
  color: #FFF;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  display: block;
  transition: .3s linear;
}

.save-button:hover {
  scale: 1.01;
}

.save-button:active {
  scale: .99;
}

.save-button_disabled {
  background: #FFF;
  color: rgba(0, 0, 0, .2);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
  border-color: rgba(0, 0, 0, .2);
  cursor: auto;
}

.save-button_disabled:hover {
  background-color: #FFF;
  scale: 1;
}

.save-button_disabled:active {
  scale: 1;
}

.save-button.save-button_register {
  margin-top: 35vh;
}

.profile-err-message {
  margin: 0;
  padding: 0;
  margin-top: 170px;
  color: #FF004C;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0;
  transition: .3s linear;
}

.profile-err-message_active {
  opacity: 1;
}
