.stack {
  margin: 0 auto;
  background-color: #F5F5F5;
}

.stack-title {
  margin: 0 auto;
  padding: 0;
  margin-top: 70px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
}

.stack-subtitle {
  margin: 0 auto;
  padding: 0;
  margin-top: 30px;
  max-width: 460px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
}

.stacks-list {
  margin: 0 auto;
  padding: 0;
  margin-top: 100px;
  margin-right: max(190px);
  margin-left: max(190px);
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.stack-cell {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background-color: #E8E8E8;
}

.stack-cell:last-child{
  margin-right: 0;
}

.stack-text {
  color: #000;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

@media screen and (max-width: 891px) {

  .stack-title{
    margin-top: 60px;
  }

  .stack-subtitle {
    margin-top: 22px;
  }

  .stacks-list {
    margin-right: 0;
    margin-left: 0;
  }

  .stack-text {
    font-size: 12px;
  }

  .stacks-list {
    margin-top: 83px;
  }

  .stack-cell {
    width: 84px;
    height: 57px;
  }

  .stack-text {
    font-size: 12px;
  }

}

@media screen and (max-width: 711px) {

  .stack {
    background-color: #FFF;
  }

  .stack-title {
    font-size: 30px;
    line-height: normal;
  }

  .stack-subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .stacks-list {
    flex-wrap: wrap;
    max-width: 178px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  .stack-cell {
    margin-bottom: 10px;
  }

  .stack-cell:nth-child(2n) {
    margin-right: 0;
  }

}

@media screen and (max-width: 375px) {
/*   .stacks-list {
    margin-right: 56px;
    margin-left: 56px;
  } */

  .stack-cell {
    margin-right: 0;
  }
}
